body {
    font-family: Arial, sans-serif;
    background: cornsilk;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
}



textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.form-block {
    margin: 20px 0;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.feedback-list {
    background: lightgreen;
    padding: 20px;
    border-radius: 8px;
}